    <!--Footer-->
    <footer class="bg-primary text-white text-center text-lg-start" id="FooterSG">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Diario - ITLM</h5>
      
              <p>
                Desarrollado por ITLM - 2022
              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Redes Sociales ITLM</h5>
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#" class="text-white">Instagram</a>
                    </li>
                    <li>
                      <a href="#" class="text-white">Facebook</a>
                    </li>
                    <li>
                      <a href="#" class="text-white">Twitter</a>
                    </li>
                  </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled mb-0">
                  <li>
                    <img src="../../../assets/Imagenes/marcador.png" class="IconFooter">
                    <p>
                      <i class="fas fa-home me-3"></i> Av. Rivadavia 369, CABA
                    </p>
                  </li>
                  <li>
                    <img src="../../../assets/Imagenes/sobre.png" class="IconFooter">
                    <p>
                      <i class="fas fa-envelope me-3"></i>contacto@diarioITLM.com.ar
                    </p>
                  </li>
                  <li>
                    <img src="../../../assets/Imagenes/llamada-telefonica.png" class="IconFooter">
                    <p>
                      <i class="fas fa-phone me-3"></i>011 0303 456
                    </p>
                  </li>
                </ul>
            </div>
              </div>
            </div>
            <div class="text-center p-3" style="background-color: rgb(3, 10, 39);">
              © 2022 Copyright:
              <a class="text-white" href="contacto.html">SG - Seguridad Privada</a>
            </div>
    </footer>
